
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 60 32% 95%;
    --foreground: 75 10% 25%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 82 26% 48%;
    --primary-foreground: 60 33% 98%;

    --secondary: 60 16% 92%;
    --secondary-foreground: 75 10% 25%;

    --muted: 60 16% 88%;
    --muted-foreground: 80 5% 45%;

    --accent: 28 98% 81%;
    --accent-foreground: 24 30% 29%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 82 20% 65%;
    --input: 82 20% 65%;
    --ring: 82 26% 48%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-secondary text-foreground;
  }
}
